repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: "\\.pot?$"
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: check-usage-strings
        name: Check "usage" strings
        entry: ./scripts/check_usages.py
        language: script
        types:
          - python
        pass_filenames: false
  - repo: local
    hooks:
      - id: write-pot
        name: Write POT file
        entry: ./scripts/potctl.py --write
        language: script
        types:
          - python
        pass_filenames: false
