name: Lint code

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/lint.yaml"
      - "locales/*.pot"
      - "userbot/**"
      - ".pre-commit-config.yaml"
      - "dev-requirements.txt"
      - "potctl.py"
      - "pyproject.toml"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/lint.yaml"
      - "locales/*.pot"
      - "userbot/**"
      - ".pre-commit-config.yaml"
      - "dev-requirements.txt"
      - "potctl.py"
      - "pyproject.toml"

permissions:
  contents: read

jobs:
  check:
    name: Check code style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip

      - name: Install packages
        run: pip install -r dev-requirements.txt

      - name: Load pre-commit cache files
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit checks
        env:
          SKIP: "write-pot"
        run: pre-commit run --all-files --show-diff-on-failure

      - name: Check code style
        run: |
          isort --check --diff userbot
          black --check --diff userbot

      - name: Check message catalog template is up-to-date
        run: python potctl.py --diff
